.edit-ui-modal {
  z-index: 100;
  position: fixed;
  border-radius: 10px;
  background: #ffffff;
  font-size: 22px;
  color: #e5e5e5;
  padding: 26px;
  width: 500px;
  height: 372px;
  .edit-ui-header {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .edit-ui-input {
    height: 49px;
    margin-top: 22px;
    margin-bottom: 36px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #f4f4f4;
    color: #1882ff;
    display: flex;
    align-items: center;
    & > input {
      border: none;
      padding-left: 23px;
      padding-right: 23px;
      font-size: 25px;
      color: #1882ff;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &[type='date'] {
        justify-content: center;
      }
    }
  }
  .actions {
    border-top: solid 2px #e5e5e5;
    padding: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .select {
      color: #1882ff;
    }
    input[type='radio']:not(old) {
      width: 2em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      opacity: 0;
    }
    input[type='radio']:not(old) + label {
      font-size: 20px;
      display: inline-block;
      margin-left: -2em;
      line-height: 1.5em;
      & > span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 0.875em;
        height: 0.875em;
        margin: 0.25em 0.5em 0.25em 0.25em;
        border-radius: 50%;
        background: rgb(224, 224, 224);
        vertical-align: middle;
      }
    }
    input[type='radio']:not(old):checked + label > span {
      & > span {
        display: block;
        width: 0.5em;
        height: 0.5em;
        margin: 0.125em;
        border-radius: 50%;
        background: #1882ff;
      }
    }
  }
}
