.section {
    display: flex;
    justify-content: center;
}

.fb-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}