.section {
  display: flex;
  justify-content: center;
}

.landing-title {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  text-align: center;
}

.google-btn {
  display: block;
  margin: auto;
  background: #88beff;
  color: #167bf2;
  border: 0px;
  font-size: 15px;
  width: 224px;
  height: 60px;
  border-radius: 30px;
}
