.section {
    display: flex;
    justify-content: center;
}

.landing-title {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.fb-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #88beff;
    color: #167BF2;
    border: 0px;
    width: 224px;
    height: 60px;
    border-radius: 30px;
}

.google-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #88beff;
    color: #167BF2;
    border: 0px;
    width: 224px;
    height: 60px;
    border-radius: 30px;
}