@import '../../styles/index.scss';

.grave-detail {
  width: 540px;
  height: 540px;
  color: $text-grey;
  &.hell {
    button {
      color: #ff8787;
    }
    .guide {
      div {
        background-color: #ff8787;
      }
    }
    .result {
      color: #ff8787;
    }
  }
  &.heaven {
    button {
      color: #0d6cdf;
    }
    .guide {
      div {
        background-color: #0d6cdf;
      }
    }
    .result {
      color: #0d6cdf;
    }
  }
  .close {
    border: 0;
    font-size: 1.2rem;
    position: relative;
    left: 27rem;
    bottom: 2.5rem;
    background-color: transparent;
  }
  .top {
    display: flex;
    justify-content: space-between;
    .date {
      font-weight: lighter;
      font-size: 17px;
      margin-bottom: 1rem;
    }
    .title {
      font-weight: bold;
      font-size: 28px;
    }
    .guide {
      span {
        position: relative;
        bottom: 4px;
      }
      div {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        &.uncomplete {
          opacity: 0.6;
          margin-top: 10px;
        }
      }
    }
  }
  .middle {
    margin: 46px 0 75px 0;
    div {
      width: 200px;
      height: 250px;
      display: inline-block;
    }
  }
  .bottom {
    font-size: 21px;
    p {
      margin-bottom: 15px;
    }
    span {
      color: #3d3d3d;
    }
  }
}
