$text-grey: #949494;
$text-grey-light: #c0c0c0;
$text-grey-deep: #656565;
$bg-grey: #f6f6f6;
$shadow-grey: rgba(165, 165, 165, 0.5);

$hell-primary: #f3e9ea;
$heaven-primary: #e9ecf3;

$inner-width: 1366px;
$content-width: 1280px;

$bg-blue: #1883ff;
$text-blue: #52a2ff;
