.fb-button {
  display: block;
  margin: 30px auto;
  background: #88beff;
  color: #167bf2;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 0px;
  width: 224px;
  height: 60px;
  border-radius: 30px;
}
