@import '../../styles/index.scss';

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: $bg-blue;
  z-index: 100;
  &.listPage {
    background-color: #fbfbfb;
    box-shadow: 0px 4px 40px 0px rgba(235, 235, 235, 1);
    .header-logo {
      color: #1882ff;
      .header-menu {
        a {
          color: #949494 !important;
          &.mandalPage {
            color: #0d6cdf !important;
          }
          &.gravePage {
            color: #0d6cdf !important;
          }
        }
      }
    }
    .header-user {
      span {
        color: #666666;
      }
      .logout {
        color: #52a2ff;
      }
    }
  }

  .header-container {
    width: $inner-width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .header-logo {
      font-size: 1.5rem;
      font-weight: bolder;
      display: inline-block;
      color: #0d6cdf;
      .header-menu {
        margin-left: 3rem;
        display: inline-block;
        font-size: 1rem;
        a {
          color: $text-blue;
          font-weight: 600;
          text-decoration: none;
          margin-right: 1rem;
          &.mandalPage {
            color: #ffffff;
          }
          &.gravePage {
            color: #ffffff;
          }
        }
      }
    }
  }
  .header-user {
    display: flex;
    align-items: center;
    height: 2rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
    span {
      position: relative;
      top: 2px;
      margin-right: 1rem;
      color: $text-grey;
      font-weight: bold;
      color: #ffffff;
    }
    .logout {
      color: #52a2ff;
    }
  }
}
